# Object files
*.o
*.elf
*.d

# Bison and YACC files
civic_lexer.*
civic_parser.*

# Shit directories
bin/
doc/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Other
*.bak
